/* 기본 설정 */
html{
    font-size: 10px;
}

body{
    background: #000;
}

header,body{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif; 
}

section{
    position: relative;
    width: 100%;
    height: 1080px;
}

p,a,span{
    color: white;
}

.hidden{
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    z-index: 99999;
}


/*header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
    z-index: 20;
    overflow: hidden;
}

header #logo a img{
    position: absolute;
    width: 80px;
    height: 56px;
    top: 7px;
    left: 3%;
}


/* PC버전 메뉴 */
#menu{
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
}

#menu ul{
    width: 16.666%;
    height: 100%;
    float: left;
}

#menu>ul>li{
    width: 100%;
    height: 70px;
}

#menu>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

/* 서브 메뉴 그룹 */
#menu>ul>li>ul{
    padding-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0;
}

#menu>ul>li>ul>li>a{
    display: block;
    width: 100%;
    height:55px;
    line-height: 55px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

#menu>ul>li>ul>li:last-child{
    padding-bottom: 10px;
    box-sizing: border-box;
}

#menu>ul>li>ul>li>a:hover{
    text-decoration: underline;
    font-weight: 700;
}


/* 퀵메뉴 아이콘 리스트 */
#menu_icon_list{
    position: absolute;
    top: 5px;
    right: 5%;
    width: 10%;
    height: 100%;
}

#menu_icon_list li{
    float: left;
    width: 33.333%;
    text-align: center;
}

#menu_icon_list li a{
    display: block;
    width: 100%;
    height: 100%;
}

#menu_icon_list li img{
    width: 60px;
    height: auto;
}

/* 메뉴 배경 */
#menu_bg{
    position: absolute;
    top: 70px;
    width: 100%;
    height: 350px;
    background-color:#282828;
    z-index: -1;
}

/* video 영역 */

#video{
    position: relative;
    width: 100%;
    height: 1010px;
    z-index: -3;
    background: #000;
}


#video img{
    position: absolute;
    bottom: 60px;
    right: 0;
    left:0;
    margin: auto;
    -webkit-animation: scroll .8s infinite alternate;
    -moz-animation: scroll .8s infinite alternate;
    -ms-animation: scroll .8s infinite alternate;
    -o-animation: scroll .8s infinite alternate;
    animation: scroll .8s infinite alternate;
}

@-webkit-keyframes scroll{
    from{bottom: 40px; opacity: .5;}
    to{bottom: 60px; opacity: 1;}
}

@-moz-keyframes scroll{
    from{bottom: 40px; opacity: .5;}
    to{bottom: 60px; opacity: 1;}
}

@-ms-keyframes scroll{
    from{bottom: 40px; opacity: .5;}
    to{bottom: 60px; opacity: 1;}
}

@-o-keyframes scroll{
    from{bottom: 40px; opacity: .5;}
    to{bottom: 60px; opacity: 1;}
}

@keyframes scroll{
    from{bottom: 40px; opacity: .5;}
    to{bottom: 60px; opacity: 1;}
}

/* about 영역 */
#about{
    background: url(../images/brand_bg.jpg) no-repeat;
    background-size: cover;
}

/* 큰 제목 K2 ABOUT */
#about_bigtit{
    position: absolute;
    top: 290px;
    left: 20px;
    color: white;
    font-weight: 700;
    font-size: 10rem;
    letter-spacing: -3px;
}

/* 레드 텍스트 박스 */
#bg_box{
    position: absolute;
    top:383px;
    left: 0;
    width: 50%;
    min-width: 650px;
    height: 400px;
    background: #e6101d;
}

#txt_box{
    width: 100%;
    height: 100%;
    padding:100px 20% 100px 7%;
    box-sizing: border-box;
}

#about_tit{
    font-size: 2.2rem;
    font-weight: 700;
}

#about_txt{
    position: relative;
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all;
}

#more_btn{
    position: absolute;
    font-size: 1.9rem;
    font-weight: 700;
    bottom: 40px;
    right: 100px;
}

/* vision 영역 */
#vision{
    background: url(../images/vision_bg.jpg) no-repeat;
    background-size: cover;
}

#vision_inner{
    width: 100%;
    height: 100%;
    padding: 370px 20%;
    box-sizing: border-box;
}

#vision_inner img{
    float: left;
    width: 35%;
    min-width: 330px;
    height: auto;
}


#vision_txtbox{
    float: left;
    width: 43%;
    height: 100%;
    margin-left: 7%;
}

#vision_tit{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 70px;
}

#vision_tit span{
    color: #e6101d;
}

#vision_txt{
    position: relative;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all;
}

#vision_btn{
    margin-top: 30px;
    width: 120px;
    height: 50px;
    line-height: 45px;
    background: #e6101d;
}

#vision_btn a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
}

/* campaign 공통 영역*/
#campaign>div{
    position: relative;
    width: 33.3333%;
    height: 100%;
    float: left;
}

/* campaign 텍스트 박스 */
.campaign_txtbox{
    position: relative;
    width: 76%;
    height: 360px;
    padding: 280px 12% 0 12%;
    z-index: 10;
}

/* campaign 제목 박스 */
.campaign_titbox{
    width: 100%;
    height: 200px;
}

.campaign_titbox span{
    display: block;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.campaign_titbox a{
    display: block;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.campaign_titbox p{
    font-size: 1.7rem;
    font-weight: 300;
}

/* campaign 버튼*/
.campaign_btn img{
    width: 85px;
    height: 85px;
}

/* campaign 설명 영역 */
.info_box{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 10;
    bottom: 170px;
    opacity:0;
    transition: all .5s ease;
}

.info_box p{
    width: 100%;
    padding: 0 15% 0 12%;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6;
    word-break: keep-all;
}

/* campaign 배경 투명도 */
.black_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    transition: all .5s ease;
}

/* campaign info 박스 hover효과 */
#campaign>div:hover .black_layer{
    opacity: .7;
}

#campaign>div:hover .info_box{
    opacity: 1;
    bottom: 300px;
}


/* campaign 01*/
#campaign_01{
    background: url(../images/campaign_bg_01.jpg) no-repeat;
    background-position-x: 40%;
    background-size: cover;
}


/* campaign 02*/
#campaign_02{
    background: url(../images/campaign_bg_02.jpg) no-repeat;
    background-size: cover;
}


/* campaign 03*/
#campaign_03{
    background: url(../images/campaign_bg_03.jpg) no-repeat;
    background-size: cover;
}


/* footer 영역 */
footer{
    position: relative;
    width: 100%;
    height: 250px;
    padding: 50px 4%;
    box-sizing: border-box;
    background: #000;
}

footer img{
    margin-bottom: 10px;
}

footer p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
}

#footer_txt{
    margin-top: 15px;
    font-weight: 500;
}